@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model finalburialrecords2

<h1>Filter</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UnauthFilterRecords">
            <div class="form-group">
                <label asp-for="sex" class="control-label">Sex</label>
                <select asp-for="sex" class="form-control">
                    <option value=""></option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ageatdeath" class="control-label">Age at Death</label>
                <select asp-for="ageatdeath" class="form-control">
                    <option value=""></option>
                    <option value="A">Adult</option>
                    <option value="C">Child</option>
                    <option value="I">Infant</option>
                    <option value="N">Newborn</option>
                    <option value="U">Unknown</option>
                </select>

                <span asp-validation-for="ageatdeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="headdirection" class="control-label">Head Direction</label>
                <select asp-for="headdirection" class="form-control">
                    <option value=""></option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <span asp-validation-for="headdirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColor" class="control-label">Hair Color</label>
                <input asp-for="HairColor" class="form-control" />
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="facebundles" class="control-label">Face Bundles</label>
                <select asp-for="facebundles" class="form-control">
                    <option value=""></option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="facebundles" class="text-danger"></span>
            </div>
            <h4><u>Textile Information:</u></h4>
            <div class="form-group">
                <label asp-for="colorvalue" class="control-label">Textile Color</label>
                <input asp-for="colorvalue" class="form-control" />
                <span asp-validation-for="colorvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="structurevalue" class="control-label">Textile Structure</label>
                <input asp-for="structurevalue" class="form-control" />
                <span asp-validation-for="structurevalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="textilefunctionvalue" class="control-label">Textile Function</label>
                <input asp-for="textilefunctionvalue" class="form-control" />
                <span asp-validation-for="textilefunctionvalue" class="text-danger"></span>
            </div>
            <h4><u>Measurements:</u></h4>
            <div class="form-group">
                <label asp-for="depth" class="control-label">Burial Depth</label>
                <input asp-for="depth" class="form-control" />
                <span asp-validation-for="depth" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Filter Records" class="btn btn-primary" />
                <a class="btn btn-outline-dark" asp-action="UnauthenticatedData">Back</a>
            </div>
        </form>
    </div>
</div>