@{
    ViewData["Title"] = "About";
}
<body>
<div class="text-center">
    <h1 class="display-4">Fag el-Gamous Burial Site and Seila Pyramid</h1>
</div><br />
<div class="align-self-center">
    <h5>
        The BYU Egypt Excavation Project database represents the culmination of decades of excavation work combined with the power of digital analysis.
        It was designed to make the project's findings accessible to the world, so that anyone with an interest in Egyptology can learn more about
        the stories of those who lived long ago in Egypt. This project is comprised of two main parts: the Fag el-Gamous cemetery and the Seila Pyramid.
    </h5>
</div>
<br /><br />
<div style="display: flex; justify-content: center;">
    <div class="row">
        <div class="col-6">
            <img src="../img/Grave.jpeg" style="width: 575px; height: 425px; margin-right: 23px;">
        </div>
        <div class="col-6 align-self-center">
            <h4>
                The Fag el-Gamous cemetery was in use during the Graeco-Roman era of Egyptian history and is one of the most densely populated burial sites 
                in the Fayoum region. The large population at the cemetery provides an opportunity for significant statistical and demographic studies of 
                burial practices, making the site a valuable resource for learning about burial practices in Graeco-Roman Egypt for the common person.
            </h4>
        </div>
    </div>
</div><br /><br />
<div style="display: flex; justify-content: center;">
    <div class="row">
        <div class="col-6 align-self-center">
            <h4>
                The Seila Pyramid was built during the Fourth Dynasty of Egypt and is located 10 km west of the Meidum Pyramid. 
                It represents an important witness of Snefru's innovations in regard to pyramid complexes and has yielded important artifacts, including 
                an altar, a small statue, a foundation deposit jar, a model oar, and several limestone tables or altars.
            </h4>
        </div>
        <div class="col-6">
            <img src="~/img/SeilaPyramidNorthSide.jpg" style="width: 575px; height:425px; margin-left:23px;" />
        </div>
    </div>
</div><br /><br />
    <div style="display: flex; justify-content: center;">
        <div class="row">
            <div class="col-6">
                <img src="../img/Pyramids.jpeg" style="width: 575px; height: 425px; margin-left: 23px;">
            </div>
            <div class="col-6 align-self-center">
                <h4>
                    Recent publications on the project highlight a range of topics, including the geography and history of the region, the ritual
                    ramifications of the excavation of the Seila Pyramid, an analysis of common burial practices at the Fag el-Gamous cemetery, an analysis of
                    the kinds of weaves used in burial clothing, an analysis of the use of jewelry in burials, and a paleopathological study of some of the
                    crania found among the burials. The excavation team has also translated papyrus found in the cemetery and conducted a survey of the nearby
                    town of Philadelphia.
                </h4>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>


