@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; justify-content: center;">
    <img class="img-fluid mb-4" src="img/Egypt.jpeg" alt="..." />
</div>

<br />
<h4 class="my-h3" style="text-align: center;">
    The BYU Egypt Excavation Project has made available a database representing decades of excavation in the Fag el-Gamous cemetery during the Graeco-Roman era of Egyptian history, as well as the Seila Pyramid. The database provides significant opportunities for demographic studies and statistical analysis of burial practices. This page has several models that represent different findings and their analyses. This page also functions as a tool for the excavation team, giving them various admin capabilities.
</h4>