@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="img-fluid mb-4" src="img/Egypt.jpeg" alt="..." />
    <h1 class="display-4">Fag el-Gamous Burial Site and Seila Pyramid</h1>
</div>
<h4 class="my-h4">
    The BYU Egypt Excavation Project database represents the culmination of decades of excavation work combined with the power of digital analysis. It was designed to make the project's findings accessible to the world, so that anyone with an interest in Egyptology can learn more about the stories of those who lived long ago in Egypt. <br /><br />

    The database is the result of the work of many people and institutions, including the Excavation Team, the College of Religious Education, the College of Life Sciences, and the Department of Information Systems inside the Marriott School of Business. This project is comprised of two main parts: the Fag el-Gamous cemetery and the Seila Pyramid. <br /><br />

    The Fag el-Gamous cemetery was in use during the Graeco-Roman era of Egyptian history and is one of the most densely populated burial sites in the Fayoum region. It contains a wide range of burials, from fully skeletonized to extremely well-preserved. The cemetery is also home to some wealthier burials, including a golden masked mummy who was the daughter of a priest in the Ptolemaic period.<br /><br />

    The large population at the cemetery provides an opportunity for significant statistical and demographic studies of burial practices, and has yielded important insights into the changing patterns of textile use in burials. The excavation team has also been able to study weaving practices, the use of tunics and sprang hairnets, and a range of other textile studies. Analysis of amulets, figurines, pottery, jewelry, and other burial goods has also been possible, making the site a valuable resource for learning about burial practices in Graeco-Roman Egypt for the common person.<br /><br />

    The Seila Pyramid, on the other hand, was built during the Fourth Dynasty of Egypt, and is located 10 km west of the Meidum Pyramid. It represents an important witness of Snefru's innovations in regard to pyramid complexes and has yielded important artifacts, including an altar, a small statue, a foundation deposit jar, a model oar, and several limestone tables or altars.<br /><br />

    Recent publications on the project highlight the exciting discoveries that have been made through the longstanding excavations performed by Brigham Young University. These publications cover a range of topics, including the geography and history of the region, the ritual ramifications of the excavation of the Seila Pyramid, an analysis of common burial practices at the Fag el-Gamous cemetery, an analysis of the kinds of weaves used in burial clothing, an analysis of the use of jewelry in burials, and a paleopathological study of some of the crania found among the burials. The excavation team has also translated papyrus found in the cemetery and conducted a survey of the nearby town of Philadelphia.

</h4>