<!DOCTYPE html>
<html>
<head>


    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            color: #333;
        }

        img {
            max-width: 100%;
            height: auto;
            border: 1px solid #ccc;
            box-shadow: 1px 1px 5px #ccc;
        }

        .my-h3 {
            font-size: 20px;
            line-height: 1.5;
            margin: 20px auto;
            padding: 0 10px;
            max-width: 800px;
            text-align: center;
        }

    </style>
</head>

<body>
    <div style="display: flex; justify-content: center;">
        <img class="img-fluid mb-4" src="img/Egypt.jpeg" alt="..." />
    </div>
    <br />

    <h4 class="my-h3">
        The BYU Egypt Excavation Project has made available a database representing decades of excavation in the Fag el-Gamous cemetery during the Graeco-Roman era of Egyptian history, as well as the Seila Pyramid. The database provides significant opportunities for demographic studies and statistical analysis of burial practices. This page has several models that represent different findings and their analyses. This page also functions as a tool for the excavation team, giving them various admin capabilities.
        <br /><br />
    </h4>
    <br />
    <br />
    <div style="display: flex; justify-content: center; border: 1px solid black; background-color:#92a8d1; padding: 10px;">
        <figure style="margin: 0 10px;">
            <a asp-area="" asp-controller="Home" asp-action="DataAdmin"><img src="~/img/admin2.png" style="width: 175px; height: 175px;" alt="Admin"></a>
            <figcaption>LOGIN</figcaption>
        </figure>
        <figure style="margin: 0 10px;">
            <a asp-area="" asp-controller="Home" asp-action="Prediction"><img src="~/img/data2.png" style="width: 175px; height: 175px;" alt="Admin"></a>
            <figcaption>View Supervised Data</figcaption>
        </figure>
        <figure style="margin: 0 10px;">
            <a asp-area="" asp-controller="Home" asp-action="unsupervised"><img src="~/img/data2.png" style="width: 175px; height: 175px;" alt="Admin"></a>
            <figcaption>View Unsupervised Data</figcaption>
        </figure>
        <figure style="margin: 0 10px;">
            <a asp-area="" asp-controller="Home" asp-action="About"><img src="~/img/about2.png" style="width: 175px; height: 175px;" alt="Admin"></a>
            <figcaption>About</figcaption>
        </figure>
    </div>



</body>
</html>
