@{
    ViewData["Title"] = "Unsupervised";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Have Burial Practices Changed Over Time?</h1>
    </div>
    <br />
    <br />
    <h4 class="text-left">
        The earliest burials were found at a depth of 3-4 feet, while more recent burials were found closer to the surface. As such, we decided to use depth as a measure of time, with deeper burials indicating a longer passage of time and shallower burials suggesting a more recent interment.
        <br /><br />
        To identify any changes in burial practices over time, we explored a range of variables. Our investigation focused on two variables in particular: the color of burial wrappings and the age at death of the interred person.
        <br /><br />
        Our analysis of these variables yielded intriguing results. We believe that changes in these variables over time may offer insights into shifts in burial practices. Please see below for more details.
        <br /><br />
    </h4>
    <div class="row"@*style="display: flex; justify-content: center;"*@>
        <div class="col-6">
            <img src="~/img/age@death.png" style="width: 575px; height: 425px; margin-right: 23px;" />
        </div>
        <div class="col-6 align-self-center">
            <h5>
                Through the calculation of point biserial correlation coefficients and associated p-values for all non-numeric variables, we were able to identify those variables that were most strongly associated with the depth of burials in our dataset. Our analysis revealed that Age at Death was the variable with the most significant correlation to burial depth.<br /><br />

                In particular, our results indicated that infants and newborns were buried at depths of no more than 2 meters. This finding suggests a possible change in burial practices over time. However, due to the limited size of our dataset, further investigation is necessary to establish a statistically significant relationship between burial depth and age at death.
            </h5>
        </div>
    </div><br /><br />
    <div style="display: flex; justify-content: center;">
        <img src="~/img/color.png" style="width: 1233px; height: 404px; margin-left: 23px;" />
    </div><br />
    <h5 class="text-left">
        As part of our analysis, we were asked to investigate the possible relationship between burial depth and the color of burial wrappings. Although the hypothesis is interesting, we must note that only 4% of the dataset had non-missing values for the 'colorvalue' variable. Consequently, our results should be interpreted with caution.

        Based on the available data, we observed a slight correlation between color and burial depth. As shown in the chart, each color is associated with a specific burial depth. However, the limited number of values in our dataset prevents us from making more conclusive statements about the relationship between color and burial depth.

        Despite these limitations, we believe that our analysis provides some initial insights into the possible relationship between burial practices and the color of wrappings. As we continue to gather more data, we hope to be able to shed more light on this topic.
    </h5>
</body>
