@{
    ViewData["Title"] = "Unsupervised";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Have Burial Practices Changed Over Time?</h1>
    </div>
    <br />
    <br />
    <h4 class="text-left">
        Burials of 3-4 feet represent the earliest burials found, while more recent burials are found much closer to the surface. Because of this we will be using depth as a measure of time. The deeper the burial the more time has passed and the closer the burial is to the surface, the closer the burials is to present.<br /><br />We looked into many possibilites to try and find any practices that have changed over time. Below is shown to variables, color of wrapping and age at death, that might have changed over time.<br /><br />
    </h4>
    <div style="display: flex; justify-content: center;">
        <img src="~/img/age@death.png" style="width: 575px; height: 425px; margin-right: 23px;" /><br /><br /><br />
        <h5 class="align-self-center">
            Through the calculation of point biserial correlation coefficients and associated p-values for all non-numeric variables, we were able to identify those variables that were most strongly associated with the depth of burials in our dataset. Our analysis revealed that Age at Death was the variable with the most significant correlation to burial depth.

            In particular, our results indicated that infants and newborns were buried at depths of no more than 2 meters. This finding suggests a possible change in burial practices over time. However, due to the limited size of our dataset, further investigation is necessary to establish a statistically significant relationship between burial depth and age at death.
        </h5>
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="~/img/color.png" style="width: 1233px; height: 404px; margin-left: 23px;" />
    </div>
    <h5 class="text-left">
        As part of our analysis, we were asked to investigate the possible relationship between burial depth and the color of burial wrappings. Although the hypothesis is interesting, we must note that only 4% of the dataset had non-missing values for the 'colorvalue' variable. Consequently, our results should be interpreted with caution.

        Based on the available data, we observed a slight correlation between color and burial depth. As shown in the chart, each color is associated with a specific burial depth. However, the limited number of values in our dataset prevents us from making more conclusive statements about the relationship between color and burial depth.

        Despite these limitations, we believe that our analysis provides some initial insights into the possible relationship between burial practices and the color of wrappings. As we continue to gather more data, we hope to be able to shed more light on this topic.
    </h5>
</body>
