@model PredictionResponse

<alert class="container-fluid" style="height:max-content">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-outline-dark" value="Back" onclick="history.back()">Back</a><br /><br />
        </div>
        <div class="row text-center">
            <h1>Based on the given data, the predicted state of the burial wrapping is:</h1>
        </div><br /><br /><br /><br />
        <div class="row text-center">
            <h2><u>Burial Wrapping Code: @Model.PredictedWrap</u></h2>
            @if (Model.PredictedWrap == "W")
            {
                <h3>The wrapping will FULLY COVER the mummy</h3>
            }
            @if (Model.PredictedWrap == "H")
            {
                <h3>The wrapping will PARTIALLY COVER the mummy</h3>
            }
            @if (Model.PredictedWrap == "B")
            {
                <h3>The BONES of the mummy will be showing, with only few fragments of wrapping left</h3>
            }
            @if (Model.PredictedWrap == "U")
            {
                <h3>The wrapping state is UNKNOWN</h3>
            }
        </div>
    </div>
</alert>